SUPABSE_DB_PASS=supabase_db_pass
VITE_SUPABASE_URL=vite_supabase_url
VITE_SUPABASE_PUBLISHABLE_KEY=vite_supabase_publishable_key
VITE_SUPABASE_PROJECT_ID=vite_supabase_project_id
VITE_SUPABASE_PUBLIC_ANON_KEY=vite_supabase_public_anon_key
SUPABASE_SERVICE_ROLE_KEY=supabase_service_role_key
SUP_ACCESS_KEY=sup_access_key
YOUTUBE_API_KEY=youtube_api_key
ADMIN_CHAT_ID=admin_chat_id
ADMIN_TELEGRAM_ID=admin_telegram_id
TELEGRAM_BOT_TOKEN=telegrams_bot_token
TELEGRAM_WEBHOOK_SECRET=telegrams_webhook_secret
CRON_SECRET=cron_secret
GOOGLE_CLIENT_ID=google_client_id
GOOGLE_CLIENT_SECRET=google_client_secret
OPENROUTER_API_KEY=openrouter_api_key